html,body{
    width: 100%;
    font-size: 14px;
    /*background-color:powderblue;*/
    background-image: url("../img/shijiazhuang/1.jpg");
    background-repeat:repeat;
    background-clip: padding-box;

}
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.articleBox{
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
    background-color: #fff0ea;
}

.headerBox {
    border-bottom: 1px dashed #DDD;
}

.headerBox h1 {
    line-height: 100px;
    text-align: center;
    font-size: 35px;
}

.imgBox {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 810px;
    background: rgba(255, 255, 255, 0.4);
}

.imgBox ul {

}

.imgBox ul li {
    float: left;
    margin: 10px 0 0 10px;
    width: 150px;
    height: 135px;
    overflow: hidden;

    position: relative;
}

.imgBox ul li a {
    display: block;
    height: 100%;
}

.imgBox ul li a img {
    display: block;
    width: 100%;
    height: 100%;
}

.imgBox ul li a span {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 34px;
    line-height: 34px;
    text-indent: 15px;
    color: #FFF;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.5);
}
.mainBox{

}
.mainBox h2{
    line-height: 50px;
    font-size: 20px;
    color: #e66d6b;
}
.mainBox p{
    text-indent: 2em;
    line-height: 35px;
    font-size: 15px;
    font-family: 微软雅黑;
}
.mainBox p em {
    color: #060707;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}
.mainBox figure{
    float: left;
    margin: 0 15px 00;
    width: 300px;
}
.mainBox figure img {
    width: 100%;
}
.mainBox figure figcaption {
    line-height: 20px;
    color: #999;
    font-size: 12px;
    font-style: italic;
}

.mainBox strong {
    color: orange;
}

.mainBox aside {
    float: right;
    margin: 10px 0 0 20px;
    width: 300px;
}

.mainBox aside img {
    width: 100%;
}
.mainBox aside figcaption {
    line-height: 20px;
    color: #999;
    font-size: 12px;
    font-style: italic;
}



/*-- 适配手机--*/
@media screen and (max-width: 800px) {
    .articleBox {
        width: auto;
    }
    .imgBox {
        width: auto;
        padding: 0 10px 10px 0;
    }

    .imgBox ul li {
        margin: 10px 0 0 2%;
        width: 48%;
        height: 160px;
    }
}

@media screen and (max-width: 540px) {
    .articleBox {
        padding: 0 8px;
    }
}

@media screen and (max-width: 480px) {
    .mainBox figure, .mainBox aside{
        float: none;
        margin: 10px auto;
    }

    .headerBox h1, .headerBox h2 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media screen and (max-width: 300px) {
    .mainBox figure, .mainBox aside {
        width: auto;
    }
    .mainBox aside {
        display: none;
    }
}





