html, body {
    width: 100%;
    font-size: 12px;
}

/*文章主体样式*/
.articleBox {
    margin: 0 auto; /*整体居中*/

}

/*头部区域*/
.headerBox {
    position: relative; /*relative：定位相对于自己之前的位置定位*/
    padding-top: 20px;
    background: url("../img/background.jpg") no-repeat center top; /*给头部设置背景图片*/
    background-size: 100%; /*背景图片大小和容器宽相同*/
    height: 500px; /*背景图片高为500px*/
}

/*头部文字H1*/
.headerBox h1 {
    line-height: 50px;
    text-align: center; /*文字居中*/
    font-size: 35px;
    color: cornflowerblue; /*字体颜色*/
}

/*头部导航区域 由无序列表UL组成*/
.headerBox nav {
    width: 720px;
    padding: 20px;
    background-color: lightblue;
    height: 20px;
    margin: 5px auto; /*上下5px 左右居中*/
}

/*头部导航区域 由无序列表UL组成*/
.headerBox ul {
    margin: 0px auto;
}

.headerBox ul li {
    float: left;
    padding: 0px 20px;
    margin: 0 25px;
    font-weight: bolder;
}

/*头部图片区域*/
.headerBox img {
    position: absolute; /*定位：相对于父级参照物来定位*/
    left: 50%; /**/
    margin-left: -380px; /*外边距*/
    width: 730px;
    padding: 15px 15px;
    background-color: cornflowerblue;
}

/*主体区域分为两个 普通区域section,section1*/
.mainBox {
    margin: 50px auto;
    width: 760px;
}

/*主体左区域：section*/
.sectionBox {
    padding: 10px;
    width: 360px;
    float: left;
}

.sectionBox h2 {
    font-size: 20px;
    color: cornflowerblue;
}

.sectionBox p {
    margin-bottom: 5px;
}

.sectionBox figure {
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;

}

.sectionBox img {
    float: left;
    width: 170px;
    padding: 0px 10px 5px 0px;
}

.sectionBox figcaption {

}

#img1 {
    width: 40px;
    padding: 0px 10px 5px 0px;
}

/*主体左区域：section1由一个无序列表组成*/
.sectionBox1 {
    padding: 10px;
    width: 360px;
    float: left;
}

.sectionBox1 h2 {
    font-size: 20px;
    color: cornflowerblue;
}

.sectionBox1 ul {

}

.sectionBox1 li {
    width: 100%;
}

.sectionBox1 figure {
    margin: auto;
    padding: 20px 0px;
}

.sectionBox1 figure img {
    width: 170px;
    float: left;
    padding: 0px 10px 5px 0px;
}

.sectionBox1 figcaption {
}

#li1 {
    border-bottom: 1px solid #444;
}

